@page "/"
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    int NextPage = Model.PageNo;
    if (NextPage < 2)
    {
        NextPage = 2;
    }
    else
    {
        NextPage = Model.PageNo + 1;
    }
    int PrevPage = Model.PageNo - 1;
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.author.name">@cheep.author.name</a>
                        </strong>
                        @cheep.text
                        <small>&mdash; @cheep.timeStamp</small>
                    </p>
                </li>
            }
        </ul>
        <td>
            @if (Model.PageNo >= 2)
            {
                <a href="/?page=@PrevPage">Previous Page</a>
                <span>|</span>
            }
            <a href="/?page=@NextPage">Next Page</a>
        </td>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
