@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
<div class="navigation">
    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            <a href="/Author/@(User.Identity.Name)">my timeline</a> |
            <a href="/">public timeline</a> |
            <a  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Hello snabelaUser.Identity.Name!</a> -->
            <form class="form-inline" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                asp-area="Identity" method="post">
                <a href="/Logout">Logout</a>
            </form>
        </div>
    }
    else
    {
        <div>
            <a href="/">public timeline</a> |
            <a href="/Register">Register</a> |
            <a href="/Login"> Login </a>
        </div>
    }
</div>